.nextPage{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    left: 90%;
    width: 10%;
    height: 2rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(17, 27, 27);
    color: white;

}
.nextPage:focus{
    outline: none;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
.prevPage{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    height: 2rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(17, 27, 27);
    color: white;

}
.prevPage:focus{
    outline: none; 
}