.sidemenu{
    display: flex;
    flex-direction: column;
    width: 13rem;
    min-height: 400px;
    background:transparent;
    box-sizing: inherit;
    margin-top: 40px;
    box-sizing: border-box;
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: rgb(139, 130, 130);
}
.sidemenu-content{
    margin-left: 15px;
}
.logo{
    width: 70%;
    margin: 30px 20px;
}
.item h4{
    
    font-size: 11px;
    margin-left: 10px;
    color: rgb(32, 43, 54);
}   
.item{
    display: inline-flex;
    cursor: pointer;
    width: 70%;
    border: 1px solid transparent;
    margin: 3px 0;
    border-radius: 30px;
    align-items: center;
}
.faicon{
    margin-left: 15px;
}
.item a{
    text-decoration: none;
    text-transform: capitalize;
}
.item:hover{
    border-color: teal;
}

/* background: #e7eef1;
padding: 40px 40px 60px;
box-sizing: border-box;
border-radius: 2px;
box-shadow: 0 12px 0 -6px #fa90a3;

position: fixed;
right: 5%;
width: 36%;
float: right; */